{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<main class="vh-100">
    <div class="container-fluid h-100 px-4">
        <h1 class="mt-4 text-center">CHECKLIST</h1>
        <button class="btn btn-dark text-white" data-bs-toggle="modal" data-bs-target="#modalAgregarLista">
            <i class="bi bi-plus-circle"></i> Agregar Lista
        </button>
        <br><br>

        <!-- Tarjetas de resumen de tareas -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Tareas pendientes: {{ tareas_pendientes }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Tareas completadas: {{ tareas_completadas }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Tareas vencidas: {{ tareas_vencidas }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                    </div>
                </div>
            </div>
        </div>


        <!-- Iconos para agregar y filtrar tareas -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <a class="d-flex align-items-center" href="#" data-bs-toggle="modal"
                            data-bs-target="#modalAgregar">
                            <img src="{% static 'img/agregar.png' %}" alt="Agregar" style="width: 50px; height: 50px;">
                        </a>
                        <a class="d-flex align-items-center" href="#" data-bs-toggle="modal"
                            data-bs-target="#modalFiltrar">
                            <img src="{% static 'img/filtrar.png' %}" alt="Filtrar" style="width: 50px; height: 50px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de tareas -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tareas
            </div>
            <div class="card-body">
                {% if tareas %}
                <table id="datatablesSimple" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Estado</th> <!-- Nueva columna para el estado -->
                            <th>Nombre</th>
                            <th>Lista</th>
                            <th>Fecha de vencimiento</th>
                            <th>Dificultad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in tareas %}
                        <tr data-bs-toggle="collapse" data-bs-target="#descripcion{{ tarea.id }}" aria-expanded="false"
                            aria-controls="descripcion{{ tarea.id }}">
                            <td>
                                <form action="{% url 'marcar_completada' tarea.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="checkbox" name="completada" id="completada{{ tarea.id }}"
                                        value="Completada" onchange="this.form.submit()" {% if tarea.completada == 'Completada' %} checked {% endif %}>
                                    <label for="completada{{ tarea.id }}"></label>
                                </form>
                            </td>
                            <td>{{ tarea.titulo }}</td>
                            <td>{{ tarea.lista.nombre }}</td>
                            <td>{{ tarea.fecha_vencimiento }}</td>
                            <td>{{ tarea.prioridad }}</td>
                            <td>
                                <!-- Botón de Modificar (abrirá un modal) -->
                                <a href="#" class="btn-modificar" data-bs-toggle="modal"
                                    data-bs-target="#modalModificarTarea{{ tarea.id }}">
                                    <img src="{% static 'img/modificar.png' %}" alt="Modificar"
                                        style="width: 15%; height: 15%;">
                                </a>
                
                                <button type="button" class="btn-eliminar" data-bs-toggle="modal"
                                    data-bs-target="#modalEliminarTarea{{ tarea.id }}"
                                    style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <img src="{% static 'img/borrar.png' %}" alt="Eliminar"
                                        style="width: 30px; height: 30px;">
                                </button>
                            </td>
                        </tr>
                        <tr data-bs-toggle="collapse" data-bs-target="#descripcion{{ tarea.id }}" aria-expanded="false"
                            aria-controls="descripcion{{ tarea.id }}">
                            <td colspan="6">{{ tarea.descripcion }}</td> <!-- Unir columnas para descripción -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                

                {% else %}
                <p>No hay tareas disponibles en este momento.</p>
                {% endif %}
            </div>
        </div>

    </div>
</main>


<!-- Modal para agregar tareas -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel">Agregar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarTarea" method="POST" action="{% url 'agregartarea' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título de la Tarea</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="lista" class="form-label">Lista</label>
                        <select class="form-select" id="lista" name="lista" required>
                            {% for lista in listas %}
                            <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                            {% empty %}
                            <option>No hay listas disponibles en este momento.</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fecha_vencimiento" class="form-label">Fecha de Vencimiento</label>
                        <input type="date" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Dificultad</label>
                        <select class="form-select" id="prioridad" name="prioridad" required>
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="completada" class="form-label">Estado</label>
                        <select class="form-select" id="completada" name="completada" required>
                            <option value="No completada">No completada</option>
                            <option value="Completada">Completada</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% for tarea in tareas %}
<!-- Modal de Modificar Tarea -->
<div class="modal fade" id="modalModificarTarea{{ tarea.id }}" tabindex="-1"
    aria-labelledby="modalModificarTareaLabel{{ tarea.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModificarTareaLabel{{ tarea.id }}">Modificar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'modificar_tarea' tarea.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }} <!-- Asegúrate de que el formulario esté en el contexto -->
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal de Confirmación de Eliminación -->
{% for tarea in tareas %}
<div class="modal fade" id="modalEliminarTarea{{ tarea.id }}" tabindex="-1"
    aria-labelledby="modalEliminarTareaLabel{{ tarea.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarTareaLabel{{ tarea.id }}">Eliminar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar la tarea ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="{% url 'eliminar_tarea' tarea.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal para filtrar tareas -->
<div class="modal fade" id="modalFiltrar" tabindex="-1" aria-labelledby="modalFiltrarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFiltrarLabel">Filtrar Tareas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formFiltrarTareas" method="GET" action="{% url 'filtrar' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="filtro_titulo" class="form-label">Título de la Tarea</label>
                        <input type="text" class="form-control" id="filtro_titulo" name="filtro_titulo">
                    </div>
                    <div class="mb-3">
                        <label for="filtro_descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="filtro_descripcion" name="filtro_descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="filtro_lista" class="form-label">Lista</label>
                        <select class="form-select" id="filtro_lista" name="filtro_lista">
                            <option value="">Seleccione una lista</option>
                            {% for lista in listas %}
                            <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                            {% empty %}
                            <p>No hay listas disponibles en este momento.</p>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="filtro_fecha" class="form-label">Fecha de Vencimiento</label>
                        <input type="date" class="form-control" id="filtro_fecha" name="filtro_fecha">
                    </div>
                    <div class="mb-3">
                        <label for="filtro_dificultad" class="form-label">Dificultad</label>
                        <select class="form-select" id="filtro_dificultad" name="filtro_dificultad">
                            <option value="">Seleccione dificultad</option>
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary">Filtrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para agregar listas -->
<div class="modal fade" id="modalAgregarLista" tabindex="-1" aria-labelledby="modalAgregarListaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarListaLabel">Agregar Lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarLista" method="POST" action="{% url 'agregar_lista' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre_lista" class="form-label">Nombre de la Lista</label>
                        <input type="text" class="form-control" id="nombre_lista" name="nombre" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}