<h1>Lista de Usuarios</h1>
<form action="/users/create" method="POST">
  <div class="input-field">
    <input type="text" name="name" id="name" required>
    <label for="name">Nombre</label>
  </div>
  <div class="input-field">
    <input type="email" name="email" id="email" required>
    <label for="email">Email</label>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Agregar Usuario</button>
</form>

<ul class="collection">
  {{#each users}}
    <li class="collection-item">
      {{this.name}} - {{this.email}}
      <form action="/users/delete/{{this.email}}" method="POST" style="display: inline;">
        <button type="submit" class="btn red">Eliminar</button>
      </form>
    </li>
  {{/each}}
</ul>
