<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Usuarios</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Mi Aplicación</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="products.html" class="btn">Ir a Productos</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h2>Crear Usuario</h2>
        <form id="user-form">
            <input type="hidden" id="hidden-user-id">
            <div class="input-field">
                <input type="text" id="name" required />
                <label for="name">Nombre</label>
            </div>
            <div class="input-field">
                <input type="email" id="email" required />
                <label for="email">Email</label>
            </div>
            <button type="submit" class="btn">Añadir Usuario</button>
        </form>

        <h2>Lista de Usuarios</h2>
        <div class="row" id="user-list"></div>
    </div>

    <div id="modal-edit" class="modal">
        <div class="modal-content">
            <h4>Editar Usuario</h4>
            <form id="edit-user-form">
                <input type="hidden" id="user-id" />
                <div class="input-field">
                    <input type="text" id="edit-name" required />
                    <label for="edit-name">Nombre</label>
                </div>
                <div class="input-field">
                    <input type="email" id="edit-email" required />
                    <label for="edit-email">Email</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Actualizar Usuario</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
    <div id="modal-delete" class="modal">
        <div class="modal-content">
            <h4>Eliminar Usuario</h4>
            <p>¿Estás seguro de que deseas eliminar el usuario?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat blue">Cancelar</a>
            <a href="#!" id="confirm-delete" class="waves-effect waves-red btn-flat red">Eliminar</a>
        </div>
    </div>
    
    <script src="/js/userAjax.js"></script>

</body>

</html>
